body {
  background-image: url('../public/Campo-Futbol/1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  padding: 0;
  animation: backgroundAnimation 30s linear infinite;
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.App {
  text-align: center;
}

.match-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa2b;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}

.match {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
  width: 100%;
  background-color: #f8f9fa2b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.match-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.match-date, .match-time, .match-stadium {
  font-weight: bold;
  margin: 2px 0;
}

.team, .result {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #00000085;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s;
  background-color: #f8f9fa53;
}

.team img {
  display: block;
  margin: 0 auto 10px auto;
  width: 50px;
  height: 50px;
}

.team-name {
  margin-top: 10px;
}

.team.selected, .result.selected {
  background-color: #d1e7dd;
  border-color: #0f5132;
  transform: scale(1.05);
}

.results {
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
}

.results p {
  margin: 0;
  font-weight: bold;
  text-align: center;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
}
.calichitas {
  color:antiquewhite;
  margin-top: 1px;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-weight: bold;
}

.success {
  color: green;
  font-weight: bold;
}

@media (max-width: 600px) {
  .match {
    flex-direction:row;
  }

  .team, .result {
    width: 30%;
    margin: -15px 0;
  }

  .team img {
    width: 60px;
    height: 60px;
  }
}

